.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

.texto-encima{
    color: black;
    font-size:12px;
    padding:8px 12px;
    position:absolute;
    top:0;
}

 