/* .flex-container{
    display: flex;
    border: 2px solid black;
}
 */
.flex-container{
    align-items: center;
    display: flex;
    border: 2px solid black;
    width: 40%;
    margin: 10px;
    padding: 10px;
    flex-direction: column;
}